
<div id="div1">
    <h2>This list is in main server component [name : servers]</h2>
    <ul>
        <li><u>SERVERS</u> is the parent component</li>
        <li><u>SERVER </u> is the child component</li>
        <li><u>string-interpolation</u> is child component</li>
        <li><u>property-binding</u> is child component</li>
    </ul>
</div>

<!--Example of nesting on component in another one-->
<app-server></app-server>

<!--Assignment 1 alert component-->
<app-success-alert></app-success-alert>
<app-warningAlert></app-warningAlert>


<!--check the string interpolation component-->
<app-string-interpolation></app-string-interpolation>

<!--Check the property binding componeent-->
<app-property-binding> </app-property-binding>

<!--check the Event binddding component-->
<app-event-binding></app-event-binding>

<!--check the two way binding component-->
<app-two-way-binding></app-two-way-binding>

<!--assignment 2-->
<app-assignment2></app-assignment2>

<!--check ng if components-->
<app-ngif></app-ngif>

<!--check ng style demo -->
<app-ng-style-demo></app-ng-style-demo>

<!--check NgClass demo-->
<app-ng-class-demo></app-ng-class-demo>

<!--check NgFor demo-->
<app-ng-for-demo></app-ng-for-demo>




<!--
<div app-servers>

</div>
-->

<!--
<div class="app-servers">

</div>
-->