<div>


        <h2>ngIf demo</h2>

        <div *ngIf = "newUserCreateWindow"
        id="mainDIV"
            >
            <div id="input">

                <h3>User Name</h3>
                <input 
                type="text" 
                class="form-control"            
                [(ngModel)]="username"
                />
    
            </div>
    
            <div id="input">
    
                <h3>Email</h3>
                <input 
                type="email"
                class="form-control"            
                [(ngModel)]="email"
                />
    
            </div>
    
            <p id="success" *ngIf="filledData ; else emptydata" >data submission successful</p>

            <ng-template #emptydata>
                <p>submit the data</p>
            </ng-template>
            
        </div>

       

        <div id="newUserButton">
            <button id="newUserButton"
            class="btn btn-primary" 
            
            (click)="onNewUser()"
            >
            New user
            </button>
        </div>

        <div id="button">

            <button 
                class="btn btn-primary" 
                (click)="onSubmit()"
            >
            Submit
            </button>
        </div>



</div>

<!--ng switch case-->
<!--

<div [ngSwitch]="checkStatement">

    <div *ngSwitchCase = " 'condition 1' ">
        if checkStatement is equal to condition 1, show this div
    </div>

    <div *ngSwitchCase = " 'condition 2' ">
        if checkStatement is equal to condition 2, show this div
    </div>

    <div *ngSwitchCase = " 'condition 3' ">
        if checkStatement is equal to condition 3, show this div
    </div>

    <div *ngSwitchDefault>
        this is default which will be visible if check statement does not matches
        to any ccondition in the switch case
    </div>

</div>
    
-->

<!--more beautiful ngIf-->
<!--

<div *ngIf = "condtion1 === true; then section1 else section2">
    showing area for selected section
</div>

<ng-template #section1>
    section 1 to show
</ng-template>

<ng-template #section2>
    section 2 to show
</ng-template>

-->

